@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

font{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#nav h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

